*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box ;
   font-family: Verdana, Arial, Helvetica, sans-serif; 
}
body{ 
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: url(coverr.png);
   background-position: center;
   background-size: cover;
}
section{
   background-color: transparent;
   border: 2px solid rgba(255,255,255,0.2);
   backdrop-filter: blur(20px) ;
   padding: 30px;
   width: 420px;
   border-radius: 20px; 
} 
section h1 {
   font-size: 30px; 
   text-align: center;
   color: #fff;
   margin-bottom: 20px;
}
.input-box {
   width: 100%;
   position: relative;
   margin-bottom: 25px;
}
.input-box input {
   width: 100%;
   padding: 15px;
   border-radius: 25px;
   outline: none;
   background-color: transparent;
   border: 2px solid rgba(255,255,255,0.2);
   color: #fff;
   padding-right: 40px;
}
.input-box input::placeholder {
   color: #fff;
}

.remenber-forgot {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 14px;
   color: #fff;
   margin-bottom: 25px;
}

.remenber-forgot a , .register-link a {
   color:#fff;
   text-decoration: none;
   transition: 0.5s;
   font-weight: bold;
}

.remenber-forgot a:hover , .register-link a {
   text-decoration: underline;
}

.login-btn {
   width: 100%;
   padding: 15px;
   border-radius: 25px;
   outline: none;
   border: 0;
   font-weight: bold;
   cursor: pointer;
   border: 2px solid transparent;
   transition: 0.5s;
}

.login-btn:hover{
   background-color: transparent;
   border: 2px solid rgba(255,255,255,0.2);
   color: #fff;
}

.register-link {
   text-align: center;
   margin-top: 25px;
   color: #fff;
   font-size: 14px;
}